<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Chapter Pages</title>
</head>

<body>
    <h1>Chapter Title: <%= name %>
    </h1>
    <h2>Pages:</h2>
    <ul id="pagesList"></ul>

    <script>
        console.log(<%= JSON.stringify(page) %>);
        const pages = <%= JSON.stringify(page) %>;
        console.log(pages);

        document.addEventListener('DOMContentLoaded', () => {
            const pageHeadingsElement = document.getElementById('pageHeadings');

            pages.forEach(page => {
                const headingElement = document.createElement('h2');
                headingElement.textContent = page.head;
                pageHeadingsElement.appendChild(headingElement);
            });
        });

    </script>
    <div>
        <form action="/designPage/" method="get">
            <input type="hidden" name="title" value="<%=name%>">
            <input type="hidden" name="courseId" value="<%=courseId%>">
            <button>Add a Page</button>
        </form>
    </div>
</body>

</html>