<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Course Chapters</title>
</head>

<body>

    <h1>Course Title: <%= course.name %>
    </h1>
    <h2>Chapters:</h2>
    <ul id="chapterList"></ul>
    <% if (chapters && chapters.length> 0) { %>
        <% chapters.forEach(chapter=> { %>
            <div onclick="window.location.href='/viewChapter?chapterName=<%= chapter %>&courseId=<%= courseId %>';">
                <h2 class="text-xl text-gray-900 font-semibold mb-2">
                    <%= chapter %>
                </h2>
            </div>
            <% }); %>
                <% } else { %>
                    <p>No Chapters available</p>
                    <% } %>
                        <div>
                            <form action="/designChapter" method="get">
                                <input type="hidden" name="name" value="<%= course.name %>">
                                <button>Add a Chapter</button>
                            </form>
                        </div>
</body>

</html>